@import '../../assets/scss/_mixin.scss';
@import '../../assets/scss/_variable.scss';

.realtime {
  width: 40%;
  height: 16em;
  margin: 2em auto;
  padding: 1.5em 2.5em;
  color: $default-font-color;
  @include flex {
    @include justify-content(center);
  }

  &:hover {
    @include box-shadow(0 3px 20px $box-shadow-color);
    @include translate3d(0, -2px, 0);
  }

  .time {
    @include flex {
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
    }
    border-left: 1px solid $border-left-color;

    span:nth-child(2) {
      @include flex {
        @include flex-direction(column);
        @include align-items(center);
      }
      padding: 0 .25em;
    }

    img {
      width: 4em;
      height: 4em;
    }
  }
}