@import './_variable.scss';
//mixin
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

@mixin translate3d($val1, $val2, $val3) {
  @include transform(translate3d($val1, $val2, $val3));
}

@mixin flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  @content;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  flex-direction: $value;
}

@mixin align-items($value) {
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

//media mixin
@mixin ordinaryMedia {
  @media only screen and (max-width: #{$ordinaryMedia-width}) {
    @content;
  }
}

@mixin smallMedia {
  @media only screen and (max-width: #{$smallMedia-width}) {
    @content;
  }
}