//media variables
$ordinaryMedia-width: 768px;
$smallMedia-width: 375px;

//color variables
$default-font-color: #ffffff;
$location-color: #2d2c2c;
$anchor-font-color: #2d2c2c;
$refresh-icon-color: #2d2c2c;
$nav-hover-color: #b9aeae;
$border-left-color: #ffffff;

$box-shadow-color: rgba(0, 0, 0, .2);