//media variables
$ordinaryMedia-width: 768px;
$x-smallMedia-width: 568px;
$smallMedia-width: 375px;

//color variables
$default-font-color: #ffffff;
$location-color: #2d2c2c;
$anchor-font-color: #2d2c2c;
$refresh-icon-color: #2d2c2c;
$nav-hover-color: #b9aeae;
$border-left-color: #ffffff;
$border-bottom-color: #eeeeee;

$box-shadow-color: rgba(0, 0, 0, .2);
$input-border-color: rgba(255, 255, 255, .8);