@import '../../assets/scss/_mixin.scss';
@import '../../assets/scss/_variable.scss';

.life {
  width: 40%;
  height: 16em;
  margin: 2em auto;
  padding: 1.5em 2.5em;
  color: $default-font-color;
  @include flex {
    @include align-items(center);
  }

  &:hover {
    @include box-shadow(0 3px 20px $box-shadow-color);
    @include translate3d(0, -2px, 0);
  }

  span {
    display: inline-block;
    margin: .5em;
    padding: .5em;

    i {
      margin-right: .5em;
    }
  }
}