@import '../../assets/scss/_variable.scss';
@import '../../assets/scss/_mixin.scss';

.detail {
  width: 60%;
  height: 32em;
  margin: 2em auto;
  padding: 3em 2.5em;
  color: $default-font-color;
  @include box-sizing(border-box);

  &:hover {
    @include box-shadow(0 3px 20px $box-shadow-color);
    @include translate3d(0, -2px, 0);
  }

  .forecast-detail {
    border-bottom: 1px solid $border-bottom-color;
    @include flex {
      @include justify-content(space-between);
      @include align-items(center);
    }

    .alltime {
      @include flex {
        @include flex-direction(column);
      }
    }

    .daytime {
      @include flex {
        @include flex-direction(column);
      }

      img {
        width: 3em;
        height: 3em;
      }
    }

    .night {
      @include flex {
        @include flex-direction(column);
      }
      img {
        width: 3em;
        height: 3em;
      }
    }
  }
}