@import '../../assets/scss/_variable.scss';
@import '../../assets/scss/_mixin.scss';

.detail {
  width: 40%;
  height: 28em;
  margin: 2em auto;
  padding: 3em 2.5em;
  color: $default-font-color;
  @include box-sizing(border-box);

  @include ordinaryMedia {
    width: 60%;
    margin: .5em auto;
  }

  @include xsmallMedia {
    width: 90%;
  }

  @include smallMedia {
    width: 96%;
  }

  &:hover {
    @include box-shadow(0 3px 20px $box-shadow-color);
    @include translate3d(0, -2px, 0);
  }

  .forecast-detail {
    padding: .25em 0;
    border-bottom: 1px solid $border-bottom-color;
    @include flex {
      @include justify-content(space-between);
      @include align-items(center);
    }

    .alltime {
      @include flex {
        @include flex-direction(column);
      }
    }

    .day-night {
      margin: .5em;;
      padding: .25em 1em;
      @include flex {
        @include flex-direction(column);
      }

      .daytime {
        @include flex {
          @include justify-content(space-between);
          @include align-items(center);
        }

        .sun {
          @include flex {
            @include justify-content(space-between);
            @include align-items(center);
          }
        }
      }

      .night {
        @extend .daytime;

        .moon {
          @extend .sun;
        }
      }
    }

    img {
      width:  3em;
      height: 3em;
    }
  }
}