@import '../../assets/scss/_mixin.scss';
@import '../../assets/scss/_variable.scss';

.navbar {
  ul {
    @include flex {
      @include justify-content(center);
    }
    margin-top: 2em;
    position: relative;
    font: {
      size: 1.25em;
      weight: 500;
    }

    &:first-child {
      @include flex;
      color: $location-color;
    }

    li {
      list-style: none;
      padding: 0 1rem;

      a {
        color: $default-font-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $nav-hover-color;
        }

        &:active {
          color: $default-font-color;
        }
      }
    }

    .city {
      cursor: pointer;
    }
  }
}