@import '../../assets/scss/_mixin.scss';
@import '../../assets/scss/_variable.scss';

.anchor {
  @include flex {
    @include justify-content(center);
  }
  margin: {
    top: 4em;
    bottom: 1em;
  }

  a {
    margin: 0 1em;
    padding: 0 1em;
    color: $anchor-font-color;
    opacity: .4;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: .8;
    }
  }
}

.current {
  width: 40%;
  height: 20em;
  margin: 2em auto;
  padding: 1.5em 2.5em;
  color: $default-font-color;

  &:hover {
    @include box-shadow(0 3px 20px $box-shadow-color);
    @include translate3d(0, -2px, 0);
  }

  .current-top {
    @include flex {
      @include justify-content(space-around);
    }
  }

  .current-center {
    .temp {
      @include flex {
        @include align-items(center);
        @include justify-content(center);
      }
      margin: {
        top: 4em;
        bottom: 1em;
      }

      span {
        display: inline-block;
        font: {
          size: 6em;
          weight: 200;
        }
      }

      img {
        width: 5em;
        height: 5em;
      }
    }

    .refresh {
      @include flex {
        @include justify-content(center);
        @include align-items(center);
      }
      margin-bottom: 2.5em;

      @include smallMedia {
          @include justify-content(space-between);
      }

      span {
        padding: 0 .25em;

        @include smallMedia {
          padding: 0;
        }
      }

      #refresh {
        cursor: pointer;
        color: $refresh-icon-color;
        opacity: .4;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .current-bottom {
    @include flex {
      @include justify-content(space-around);
      @include align-items(center);
    }

    span:nth-child(1) {
      @include ordinaryMedia {
        display: none;
      }
    }
  }
}

