@import '../../assets/scss/_mixin.scss';

.forecast {
  width: 40%;
  height: 20em;
  margin: 2em auto;
  padding: 3em 2.5em;
  @include box-sizing(border-box);

  @include ordinaryMedia {
    width: 60%;
    margin: .5em auto;
  }

  @include xsmallMedia {
    width: 90%;
  }

  @include smallMedia {
    width: 96%;
  }

  &:hover {
    @include box-shadow(0 3px 20px $box-shadow-color);
    @include translate3d(0, -2px, 0);
  }

  a {
    color: $anchor-font-color;
    opacity: .6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: .9;
    }
  }

  .forecast-list {
    @include flex {
      @include justify-content(space-between);
      @include align-items(center);
    }
    margin: {
      top: .25em;
      bottom: 1.25em;
    }
    border-bottom: 1px solid $border-bottom-color;
    font-weight: 400;
    color: $default-font-color;

    .cond {
      @include flex {
        @include justify-content(space-between);
        @include align-items(center);
      }
      img {
        width: 3em;
        height: 3em;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}